$primaryColor: #2A281C
$secondaryColor: #6b4b35

*
  box-sizing: border-box

html,body 
  font-family: Georgia, 'Times New Roman', Times, serif
  color: $secondaryColor
  overflow-x: hidden
  line-height: 1.6

a
  color: black

  &:hover
    color: black
    text-decoration: none

blockquote
  font-size: 1rem 
  border-left: 10px solid #ccc
  margin: .5em 10px
  quotes: "\201C""\201D"
  padding: 10px 20px

blockquote:before 
  content: open-quote
  display: inline
  line-height: 0
  left: -10px
  position: relative
  top: 20px
  color: #666
  font-size: 3em

#showcase
  height: 70vh
  background: url('../../resources/showcase.jpg')
  background-attachment: fixed
  background-position: center
  background-repeat: no-repeat
  background-size: cover

  &-video
    height: 100%
    z-index: 2

.light
  background-color: white

.dark
  background-color: grey

form
  margin-left: auto
  margin-right: auto

.login 
  margin-top: 6rem


#mainBody 
  height: 100%
  margin-top: 8rem
  margin-bottom: 8rem

.App
  margin-left: auto
  margin-right: auto

#results
  margin-top: 3rem

#sponsorsLogos 
  margin-bottom: 9rem

.comparisonHeaders
  margin-top: 2rem