@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,700')
$primaryColor: #005e1b
$secondaryColor: #6b4b35
$secondaryPanel: rgba(107,75,53,0.15)

*
  margin: 0px
  padding: 0px
  box-sizing: border-box

html,body 
  font-family: lato
  color: black
  overflow-x: hidden
  line-height: 1.6
  font-family: 'Lato', sans-serif
  letter-spacing: 1px

a
  color: black

  &:hover
    color: black
    text-decoration: none


blockquote
  font-size: 1rem 
  border-left: 10px solid #ccc
  margin: .5em 10px
  quotes: "\201C""\201D"
  padding: 10px 20px

blockquote:before 
  content: open-quote
  display: inline
  line-height: 0
  left: -10px
  position: relative
  top: 20px
  color: #666
  font-size: 3em

.showcase
  height: 100vh
  background: linear-gradient(to bottom, rgba(126, 213, 111, 0.3), rgba(107,75,53,0.3)), url('../../resources/showcase.jpg')
  background-position: top
  background-repeat: no-repeat
  background-size: cover
  color: white
  font-family: 'Lato', sans-serif

.primary
  color: $primaryColor

.secondary
  color: $secondaryColor

.light
  background-color: $secondaryPanel
  color: $secondaryColor

.main-body 
  min-height: 100vh

.btn-brown
  color: white
  background-color: $secondaryColor
  
  &:hover
    color: white
