form, h1 {
    margin-left: auto;
    margin-right: auto;

}

.login {
    margin-top: 6rem;
}

#mainBody {
    height: 100%;
    margin-top: 8rem;
    margin-bottom: 8rem;
}

.App {
    margin-left: auto;
    margin-right: auto;
}

#results {
    margin-top: 3rem;
}

#sponsorsLogos {
    margin-bottom: 9rem;
}

.comparisonHeaders {
    margin-top: 2rem;
}


footer {
    position: absolute;
    right: 0;bottom:0;left:0;
  }

body {
    position: relative;
    min-height: 100vh;
}