body {
    position: relative;
    min-height: 100vh;
}

footer {
    position: absolute;
    right: 0;bottom:0;left:0;
  }

  h1 {
    margin-left: auto;
    margin-right: auto;
}

#meatColor {
    color: rgb(171, 208, 56)
}

/* canvas {
    width: 100vw;
    height: 100vh;
  } */